# =========================
# Visual Studio / C++
# =========================

# Тимчасові файли та кеш IDE
.vs/
.vscode/
*.suo
*.user
*.userosscache
*.sln.docstates
*.vcxproj
*.vcxproj.filters
*.vcxproj.user

# Папки збірки (Build / binary outputs)
x64/
x86/
Debug/
Release/
[Bb]in/
[Oo]bj/
out/
build/

# Скомпільовані та проміжні файли
*.exe
*.dll
*.obj
*.pdb
*.ilk
*.idb
*.exp
*.tlog
*.log
*.lastbuildstate
*.recipe
*.iobj
*.ipdb
*.pch

# Бази даних та кеші VS
*.sdf
*.dbmdl
*.opendb
*.opensdf
*.aps
*.ncb
*.cache

# Системні файли ОС
.DS_Store
Thumbs.db